<form>
      <div class="mb-3 row">
        <label for="planilha" class="col-sm-2 col-form-label">ID Planilha</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="planilha" value="<%= config.sheet_id %>">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="email" value="<%= config.email %>">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="tempo" class="col-sm-2 col-form-label">Chave privada</label>
        <div class="col-sm-10">
          <!-- <input type="number" class="form-control" id="tempo" value="<%= config.secret_id %>"> -->
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"><%= config.secret_key %></textarea>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="impressora" class="col-sm-2 col-form-label">Impressora</label>
        <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example">
                <!-- <option selected>Open this select menu</option> -->
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
      </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>