<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>BOTPrinter</title>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>BOTPrinter</h1>
      <textarea class="form-control log" id="txt-log" rows="22" disabled></textarea>

    </div>

    
    <script src="../renderer.js"></script>
  </body>
</html>